* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  color: #333;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  #0a0a23;
}

ul {
  padding: 0;
}

a {
  font-weight: 700;
  margin: 0 25px;
  color: #fff;
  text-decoration: none;
}

a:hover {
  padding-bottom: 5px;
  box-shadow: inset 0 -2px 0 0 #fff;
}

footer {
  height: 60px;
  padding: 0 10px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dfdfe2;
}

footer ul li {
  list-style: none;
  display: inline;
}

footer a {
  margin: 0 15px;
  color: inherit;
  text-decoration: none;
}

footer a:hover {
  padding-bottom: 5px;
  box-shadow: inset 0 -2px 0 0 #333;
}

.social-row {
  font-size: 20px;
}

.social-row li a {
  margin: 0 15px;
}
