/* app.css */

/* h1 {
  color: var(--accentColor);
} */

.app-main-header-title {
  color: antiquewhite;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.app-main-header-title--emphasis {
  color: var(--accentColor);
}