body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding-top: 50px;
}

.to-do-app {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

input {
  width: 80%;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #5cb85c;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4cae4c;
}

button i {
  margin-left: 8px;
}

button:focus {
  outline: none;
}

.to-do-list {
  margin-top: 30px;
  list-style-type: none;
  padding: 0;
}

.to-do-list li {
  background-color: #f1f1f1;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.to-do-list li .delete {
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  cursor: pointer;
}

.to-do-list li .delete:hover {
  background-color: #c9302c;
}
